
<div class="container-fluid">
    <div id="home" class="row align-items-center hero scroll_section">
        <div class="col-lg-3 offset-lg-2" <p>
            </p>
            <H1>BAR RITUAL</H1>
            <p>Es un bar para disfrutar entre amigos y parejas.
                Nos especializamos en Cerveza Artesanal y en Nuestras exquisitas Hamburguesas.
            </p>
        </div>
    </div>
</div>
<!--Novedades-->
<div class="row my-3">
    <div id="novedades" class="col-md-5 offset-md-2 scroll_section">
        <h2>Novedades</h2>
        <ul class="lista-novedades">
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/novedades01.jpg">
                    HAMBURGUESA BUFALO</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/novedades01.jpg">
                    HAMBURGUESA DIBU</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/novedades01.jpg">
                    HAMBURGUESA LIONEL</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/novedades01.jpg">
                    HAMBURGUESA TRIPLE CHEDAR</a></li>
            <li><a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal"><img src="images/novedades01.jpg">
                    HAMBURGUESA ESCALONETA</a></li>
        </ul>
    </div>
</div>



</div> <!--cierra novedades-->

<div class="col-md-3 my-3">
    <div class="rounded py-5 testimonios">
        <h2 class="text-center">Testimonios</h2>
     <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>

            <div class="carousel-inner">
                

                <div class="carousel-item active">
                    <div class="testimonios">
                        <h5>La mejor cerveza !!!</h5>
                        <p>Pablo de villa gesell.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonios">
                        <h5>Excelente atencion.</h5>
                        <p>Daniela de Mataderos.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="testimonios">
                        <h5>Riquisima la comida y la cerveza</h5>
                        <p>Juan de Lugano.</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>


    </div><!--cierra testimonios-->
</div><!--cierra novedades y testimonios-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">Hamburguesa</h2>
                <h3>Bufalo</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
                <p>Contiene: 2 medallones de carne de entraña, doble cheddar y panceta crocante</p>

            </div>

        </div>
    </div>
</div>
<!--Fin modal-->
<!--fin de novedades-->
<!--Inicio hisoria-->
<div id="historia" class="row align-items-center py-4 scroll_section">
    <div class="col-lg-2 col-md-3 offset-lg-2 d-none d-sm-block">
        <img src="images/historia_1.jpg" alt="historia 1" class="img-fluid">

    </div>
    <div class="col-lg-2 col-md-3 d-none d-sm-block">
        <img src="images/historia_2.jpg" alt="historia 2" class="img-fluid">

    </div>
    <div class="col-12 d-sm-none">
        <img src="images/historia_3.jpg" alt="historia 3" class="img-fluid">
    </div>
    <div class="col-lg-4 col-md-6 mt-sm-0">
        <h2>Historia</h2>
        <p>Somos una familia que creamos Ritual Bar hace 15 años, nos dedicamos totalmente a nuestra clientela.</p>
    </div>
</div>--<!--cierra div con id historia-->
<!--inicio Nosotros-->
<div class="nosotros" class="row align-items-stretch  my-3 staff py-4 ">
    <div id="nosotros" class="row align-items-center py-4 scroll_section"></div>

    <div class="col-lg-8 offset-lg-2">
        <h2>Nosotros</h2>
    </div>
</div>
<div class="row row-cols-1 row-cols-md-4 g-4">
    <div class="col">
        <div class="card">
            <img src="images/nosotros01.jpg" class="card-img-top" alt="Juana Fuentes">
            <div class="card-body">
                <h5 class="card-title">Juana Fuentes</h5>
                <p class="card-text">Es la encargada de recibir y acomodar a los clientes.</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/nosotros02.jpg" class="card-img-top" alt="Roberto Rojas">
            <div class="card-body">
                <h5 class="card-title">Roberto Rojas</h5>
                <p class="card-text">Es el encargado de la cocina</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/nosotros03.jpg" class="card-img-top" alt="Marcelo escobar">
            <div class="card-body">
                <h5 class="card-title">Marcelo escobar</h5>
                <p class="card-text">Se encarga de la caja .</p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <img src="images/nosotros04.jpg" class="card-img-top" alt="Ariel Mirasol">
            <div class="card-body">
                <h5 class="card-title">Ariel Mirasol</h5>
                <p class="card-text">Es el gerente del local.</p>
            </div>
        </div>
    </div>
</div><!--fin de nosotros-->
<!--comienzo de visitanos-->
<div id="conocenos" class="row py-4">
    <div class="col-md-4 offset-md-2">
        <h2>Visitanos</h2>
        <div class="mapa">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.707185313032!2d-58.500362084475!3d-34.61156518045754!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcc9d7e59ef529%3A0x7d5ce600c2b4fad8!2sJoaqu%C3%ADn%20V.%20Gonz%C3%A1lez%202384%2C%20C1417AQF%20Monte%20Castro%2C%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1680112110780!5m2!1ses!2sar"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>

        </div>
    </div><!--cierra div con id visitanos-->
    <div class="col-md-4 mt-4 mt-sa-0 ">
        <div id="contacto" class="row align-items-center py-0 scroll_section"></div>
        <h2>Contactanos</h2>
        <form class="row g-3 scroll_section">
            <div class="col-md-6">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="nombre">
            </div>
            <div class="col-md-6">
                <label for="Apellido" class="form-label">Apellido</label>
                <input type="text" class="form-control" id="apellido">

            </div>
            <div class="col-12">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="email@email.com">

            </div>
            <div class="col-12">
                <label for="tel" class="form-label">Tel</label>
                <input type="text" class="form-control" id="tel" placeholder="...">

            </div>
            <div class="col-12">
                <label for="mensaje" class="form-label">Mensaje</label>
                <textarea class="form-control" id="mensaje" rows="3">

                </textarea>
            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Enviar</button>

            </div>

        </form>
    </div><!--cierra div con id conocenos-->
